{% extends 'templates/app.twig' %}

{% block content %}
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header text-center">
                Display members per school
            </h1>
            <form action="{{ path_for('get.users') }}" method="post">
                <div class="form-group {{ errors.school ? 'has-error': '' }}">
                    <label>Select School</label><br>
                    <select class="selectpicker" name="school" >

                        {% for school in schools %}

                            <option value="{{ school.id }}">{{ school.school }}</option>

                        {% endfor %}

                    </select>
                    {% if errors.school %}
                        <span class="help-block">
                                    {{ errors.school | first }}
                                </span>
                    {% endif %}
                </div>
                <input type="submit" value="Show members" class="btn btn-lg btn-info">
                {{ csrf.field | raw }}

            </form>

            {% if schoolId is empty %}

            {% elseif users is empty %}
                <h3>There is no members associated with this school</h3><br>
                <a href="{{ path_for('add.user') }}" class="btn btn-lg btn-info">Add members</a>
            {% else %}
                {% include 'users/partials/users_list.twig' %}
            {% endif %}


        </div>
    </div>

{% endblock %}